#clients-section {
    .clients-section__container {
        padding: 0 25px;
        margin-bottom: 7.63889vw;
        h3 {
            color: #858585;
            font-size: 18px;
            margin: 0;
            margin-bottom: .5rem;
        }
        ul {
            line-height: 35px;
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                font-size: 22px
            }
        }
    }
}

@media screen and (min-width:640px){
    .clients-section__container {
        padding: 0 50px !important;
        .clients-section__lists {
            display: flex;
            width: 74%;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width:1025px){
    .clients-section__container {
        display: flex;
        justify-content: center;
        h3 {
            min-width: 30%;
        }
        .clients-section__lists {
            display: flex;
            width: 50%;
            justify-content: space-between;
            ul {
                li {
                    font-size: 1.66667vw;
                    line-height: 3.33333vw;
                }
            }
        }
    }
}

@media screen and (min-width:1440px){
    .clients-section__container {
        padding: 0 105px !important;
    }
}