#clients-section {
    padding: 0 25px;
    h3 {
        color: #858585;
        font-size: 18px;
        margin: 0;
        margin-bottom: .5rem;
    }
    ul {
        line-height: 35px;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            font-size: 22px
        }
    }
}