#idea-section {
    margin-top: 38px;
    margin-bottom: 8.33333vw;
    padding: 0 25px;
    .idea-section__title {
        margin: 0;
        margin-bottom: 31px;
        font-size: 30px;
        line-height: 40px;
    }
    .idea-section__paragraph {
        margin: 0;
        margin-bottom: 4.375vw;
        font-size: 22px;
        line-height: 35px;
    }
}