.img-container {
    overflow: hidden;
    height: 0;
    padding-bottom: 56%;
        img {
            width: 100%;
            display: none;
        }
        img.active {
            display: inline-block;
        }
}